<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); -%>
        <link rel='stylesheet' href='/stylesheets/spell.css' />
    <header>
        <%- include('../partials/messages'); -%>
        <%- include('../partials/navigation'); -%>
    </header>

    </head>
    <body>

        

        <div class="container">

            <div class="topnav my-3">
                    <a class="active" href="#type">Type</a>
                    <a href="#level">Level</a>
                    <a href="#mana">Mana</a>
                    <a href="glyph">Glyphs</a>
                    <input type="text" placeholder="Search..">
            </div>

            <div class="py-2">                
                <% if(data.length){

                    for(var i = 0; i < data.length; i++) {%>
                    
                    <button class="accordion my-1 py-2">
                        <div class="row">
                            <div class="col-sm-4">
                                <h5><%- data[i].class_type %></h5>
                            </div>
                            <div class="col-sm-1 offset-sm-4">
                                <h5><%= data[i].class_name %></h5>
                            </div>
                            <div class="col-sm-1 offset-sm-2">
                                <i class="fa fa-plus float-right py-auto"></i>
                            </div>
                        </div>
                    </button>
                    <div class="panel">
                        <dl class="row">
                            <dd class="col-md-6"><%= data[i].description %></dd>
                        </dl>
                    </div>
                    
                     <% } %>
                <% } %> 
            </div>
        </div>

    </body>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
                
            });
        }
    </script>
</html>